.absolute {
  position: absolute
}

.bottom-40 {
  bottom: 10rem
}

.flex {
  display: flex
}

.w-52 {
  width: 13rem
}

.flex-1 {
  flex: 1 1 0%
}

.rounded-2xl {
  border-radius: 1rem
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.text-center {
  text-align: center
}

.font-semibold {
  font-weight: 600
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
