.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-5 {
  left: 1.25rem
}

.top-3 {
  top: 0.75rem
}

.bottom-40 {
  bottom: 10rem
}

.right-5 {
  right: 1.25rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.h-14 {
  height: 3.5rem
}

.w-12 {
  width: 3rem
}

.w-14 {
  width: 3.5rem
}

.w-52 {
  width: 13rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-2xl {
  border-radius: 1rem
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.text-center {
  text-align: center
}

.font-semibold {
  font-weight: 600
}
